* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 400 15px Georgia, serif !important;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

.header-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: white;
	padding: 10px 30px 10px 30px;
	font-family: Georgia, serif;
	letter-spacing: 4px;
	font-size: 12px;
	border-bottom: 1px solid #c2c2c2;
	flex-wrap: wrap;
}

.fa {
	padding: 5px;
	font-size: 14px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 20%;
}

.fa:hover {
	opacity: 0.7;
	text-decoration: none;
}

.fa-facebook {
	background: #A72A0F;
	color: white !important;
}

img {
	object-fit: contain;
}

.navbar {
	display: flex;
	z-index: 9999;
	width: 100%;
	background-color: white;
	letter-spacing: 2px;
	justify-content: flex-end;
	padding: 5px;
}

.logo {
	margin-right: auto;
}

.navbar-menu {
	display: -webkit-flex;
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: flex-end;
}

.navbar-menu>li {
	display: inline;
	margin-right: 20px;
}

.navbar-menu a:link, .navbar-menu a:visited, .navbar-menu a:hover {
	color: #880000 !important;
}

.photobox-image {
	background: url(https://www.camdenlawfirm.com/images/Slideshow/billionphotos-1642094_medium2000.jpg);
	-webkit-background-size: cover; 
	-moz-background-size : cover;
	-o-background-size : cover; 
	background-size : cover;
	background-position : center;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	background-size: contain;
	background-position: center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

.transbox {
	display: flex;
	height: 150px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(60, 60, 60, 0.8);
}

.transbox h1 {
	text-align: center;
	font-weight: bold;
	color: white;
}

.transbox p {
	text-align: center;
	font-weight: bold;
	color: white;
	line-height: 30px;
}

.info-column-container {
	width: 100%;
	background-color: #e5e5e5;
	padding: 30px;
	margin-top: 20px;
}
.column-item p {
	line-height: 30px;
}

.info-column {
	display: flex;
	justify-content: space-around;
	background-color: white;
	color: #747474;
	margin: 40px;
	border-top: 4px solid #880000;
	margin: 40px;

}

.column-item {
	font-size: 12px;
	padding: 20px;
}

.col1, .col2 {
	border-right: 1px solid #e5e5e5;
}

.contact-banner-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	padding: 20px 20px;
	background-color: #737373;
	margin-top: 20px;
}

.contact-banner-address {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 25px;
	align-self: center
}

.contact-banner-map {
	align-self: center;
	margin-bottom: 10px;
}

.field {
	display: flex;
	flex-direction: column;
}

#marker {
	margin-right: 20px;
	font-size: 60px;
	float: left;
	top: 25px;
}

#fname, #email, #phone {
	margin-bottom: 5px;
	height: 35px;
}

#submit {
	background-color: rgb(4, 194, 110);
	border-radius: 12px;
	width: 50%;
	font-size: 16px;
	padding: 2px;
	color: white;
	margin-top: 10px;
}

#submit:hover {
	background-color: rgb(4, 194, 110, 0.5);
}

.footer-container {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: space-between;
	background-color: #404040;
	color: white;
	padding: 30px 30px 10px 10px;
	font-family: Georgia, serif;
	font-size: 10px;
	flex-wrap: wrap;
}

#fa-footer {
	padding: 5px;
	font-size: 25px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 20%;
}

.page-title {
	width: 100%;
	display: flex;
	font-size: 40px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #d2d3d4;
	border-top: 1px solid #d2d3d4;
}

.title-caption {
	padding: 40px 0 40px 150px;
}

img.deven {
	float: left;
	margin: 10px;
	max-width: 100%;
	height: auto;
}

img.deven2 {
	float: right;
	margin: 10px;
	max-width: 100%;
	height: auto;
}

.emp1, .emp2 {
	margin: 0 10px 50px 10px;
}

.emp-container {
	line-height: 200%;
	color: #747474;
	margin: 50px;
}

.contact-header-container {
	width: 100%;
}

.contact-header {
	display: flex;
	justify-content: space-around;
	color: #747474;
	margin: 40px;
	padding: 80px 20px;
	border-top: 4px solid #880000;
	border-left: 1px solid #d2d3d4;
	border-right: 1px solid #d2d3d4;
	border-bottom: 1px solid #d2d3d4;
}

.contact-item {
	font-size: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#icon {
	font-size: 48px;
}

.content-heading {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
	.navbar-menu {
		flex-direction: column;
		justify-content: flex-end;
	}
	.navbar-container {
		padding: 0 0 0 5px;
	}
	.social-header {
		padding-top: 10px;
	}
	.transbox {
		height: 150px
	}
	.info-column, .contact-banner-container, .contact-header-container {
		flex-direction: column;
	}
	.contact-banner-address {
		margin-bottom: 50px;
	}
	.title-caption {
		padding: 5px 0 5px 20px;
	}
	.contact-item {
		margin-bottom: 20px;
	}
}
